<div class="bg-[#f5f7f8]">
    <div class="w-[100%] flex">
        <div class="w-[16%] scroll-container">
            <!-- <button class="scroll-up" (click)="scrollUp()">▲</button> -->
            <div class="content" #scrollableContent>

                <div class="flex justify-center mt-7 mb-20">
                    <img src="tee5.svg" alt="" class="w-[50px]">
                </div>

welcome
avheivhed
adgvejdvsdn
rvkdjvksdl
dvlksd;lvmksd;l
bnedgvjdnvl
vjnedvkned
dvnedvedvnd
dnvdjlvndvn
;nsjjnvkednvdlvn
dnvdklvndklv
sedvnldi
vednvjldevnd
d;vjdvjnd
dnhvdlvnd
dbvedjvdv
dvndlvdnlv#
ednhevdlvnd
dbevdbvd
edvnhedvnednv
evnhedhvhed
edvhdlvdn
schsjkcbsdjkc
scnlbscjbnsdc
scbsjcbnsdjkc
scbsjcbnsdjk
bnsdcjkdsjkcns
jnklxvjkcns
nbvcdncvd
nsnkcns
sncnsdmn
scbsbkcbsc
sbcksbcbsd
bkxcbsbkcks
bnlscnsns
sncnschs
scbbncbc
sncnscnsn
</div>

<!-- <button class="scroll-down" (click)="scrollDown()">▼</button> -->

        </div>
        <div>
            <div>
                <div>
                    <h5>Hello, {{ userData.firstname }} 👋🏾</h5> 
                </div>
                <div></div>
            </div>
        </div>
    </div>
</div>

