<div class="px-7 bg-[#3f4948] text-[#f5f5f5]">
    <div class="flex justify-between">
      <div class="flex gap-10 ms-5">
        <h6 class="pt-3"><a routerLink="/" class="hover:underline"><img src="tee6.svg" alt="teeboy" class="w-[40px]" ></a></h6>
        <div class="flex gap-3 pt-5">
        <h6><a href="#" class="hover:underline text-[16px]">Careers</a></h6>
        <h6><a href="#" class="hover:underline text-[16px]">Contact Us</a></h6>
        <h6><a href="#" class="hover:underline text-[16px]">Media</a></h6>
        <h6><a routerLink="/adminSignup" class="hover:underline text-[16px]">Admin</a></h6>
      </div>
      </div>
      <div class="flex gap-3 pt-5">
        <h6><a href="#" class="hover:underline text-[16px]">Security</a></h6>
        <button routerLink="/userSignup" class="hover:underline border-2 px-2 h-[5vh] border-2 border-gray-300 rounded-md mr-1 transition-colors duration-300 text-[15px] relative top-1">Open Acctount</button>
        <button routerLink="/userSignin" class="hover:underline h-[5vh] border px-2 border-2 border-gray-300 rounded-md mr-1 transition-colors duration-300 text-[15px] relative top-1">Sign In</button>
        <h6><a href="#" class="hover:underline text-[15px]">9ja logo</a></h6>
      </div>
    </div>
  </div>


  <div>
    <div class="flex justify-between">
        <div class="relative left-40 top-9 mt-20">
            <h1>TRANSFER</h1>
            <h1>MONEY</h1>
            <h1>ACROS</h1>
            <div class="relative left-20">
              <h3>THE WHOLE</h3>
              <h3 class="relative left-20">UNIVERSE</h3>
            </div>
            <div class="relative left-[70%] top-3">
              <p class="border"> © {{time|date}} Teeboy Banking. All Rights Reserved.</p>
              <!-- <h6> © {{time|date|slice:6:11 }} Teeboy Banking. All Rights Reserved.</h6> -->
            </div>
          </div>
          <div>
          <img src="hand1.png" alt="image" class="w-[400px] relative top-[69px]">
        </div>
    </div>
  </div>
